*.egg-info/*
*.ipynb
.vscode/
.pytest_cache/
logs/
env/
.env
../.idea/
flowchart
assignment
LICENSE
notebook
airflow/airflow.cfg
Documents/
artifact/
logs/
demo_main.py
demo.py
sample_dataset/
notebook/