scikit-learn==1.0.2
pandas==1.5.2
numpy==1.23.5
matplotlib==3.6.2
matplotlib-inline==0.1.6
seaborn==0.12.1
xgboost==1.7.1
from-root==1.0.2
boto3==1.26.24
dataclasses==0.6
PyYAML==6.0
dill==0.3.6
imblearn
apache-airflow==2.5.0
pymongo[src]
prettytable==3.5.0
Flask==2.2.2
Flask-Cors==3.0.10

-e .